<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.achs.voilence_protector">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/safe_click"
        android:label="@string/app_name"
        android:roundIcon="@drawable/safe_click"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.DataListActivity" />
        <activity
            android:name=".Activity.SideNavigationActivity"
            android:label="@string/title_activity_login2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.RegistrationActivity">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LawsActivity" />
        <activity android:name=".Activity.PoliceActivity" />
        <activity android:name=".Activity.HospitalActivity" />
        <activity android:name=".Activity.DashboardActivity">


        </activity>
        <activity android:name=".Activity.EmergencyContactActivity.EmergencyContactActivity"></activity>
    </application>

</manifest>